:root {
  --color-buttons: #FF660F;
  --primary-color: #131950;
  --background-color:#e8e4e4;
  
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
  margin: 20px 0;
}

