.black-banner{
  display: flex;
  justify-content: center;
  background-color:black;
  color: white;
  height: 2rem;
  text-transform: uppercase;
}

.navbar-toggler {
  background-color: var(--color-buttons)

  ;
}
.nav-bar {
  background: #131950;
 }

 .navbar-light .navbar-nav .nav-link {
   color: white;
   font-size: 12px;
 }

 .navbar-light .navbar-nav .nav-link:hover {
   color: blue;
 }

.black-banner p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

@media (min-width: 500px) {
  .blue-banner{
  justify-content: start;
  height: 5rem;
  padding: 0rem 1.5rem;   
}

}