.black-banner{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color:black;
  color: white;
  height: 2rem;
  text-transform: uppercase;
}

.text-black-lives-matter {
  margin-bottom: 1px;
}

.navbar-toggler {
  background-color: rgb(37, 37, 114)
  ;
}
.nav-bar {
  background: #131950;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 12px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: blue;
}

.text-banner {
  margin-top:5px;
}

/* .black-banner h6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
} */

@media (min-width: 500px) {
  .blue-banner{
  justify-content: start;
  height: 5rem;
  padding: 0rem 1.5rem;   
}

}