.black-banner{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color:black;
  color: white;
  height: 2rem;
  text-transform: uppercase;
}

.blue-banner{
  display: flex;
  justify-content: center;
  background-color: #131950;
  height: 4.7rem;
}

.text-banner {
  margin-top:5px;
}

/* .black-banner h6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
} */

@media (min-width: 500px) {

  .blue-banner{
  justify-content: start;
  height: 5rem;
  padding: 0rem 1.5rem;   
}

}