.first-background {
  background-image: url(../../assets/images/first-photo-banner.jpg);
  background-size: cover;
  background-position-y: center;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
}

.text-first-background {
  color: #fff;
  font-family: 'PT Serif', serif;
  font-size: 3.1rem;
  text-align: center;
}

@media (max-width: 377px) {
  .text-first-background {
    font-size: 2.3rem;
    margin-top: 40px;
  }

  .content h1{
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .first-background {
    height: 40vh;
  }

  .text-first-background {
    font-size: 4.9rem;
  }

  .button {
    font-size: 2.9rem;
  }
}

@media (min-width: 1024px) {
  .text-first-background {
    font-size: 5.5rem;
  }
}

@media (min-width: 1088px) {
  .first-background {
    height: 70vh;
  }

  .text-first-background {
    font-size: 5.5rem;
  }

  button {
    font-size: 2rem;
  }
}
